/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #4f8b8d;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #375c5e;
}
header .logo img{
    border-radius: 40px;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
   }

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

/* Portfolio Section */
main {
    padding: 2rem;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 80%;
    height: 250px;
    object-fit: cover;
}

.project h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.project p {
    padding: 0 1rem;
    color: #666;
}

.btn {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}
